/UCDIT/nbproject/private/
/UCDIT/UCDIT-war/nbproject/private/
/UCDIT/UCDIT-ejb/nbproject/private/
/UCDIT/UCDIT-ejb/build/
/UCDIT/UCDIT-ejb/dist/
/UCDIT/dist/
/UCDIT/build/
/UCDIT/UCDIT-war/build/
/UCDIT/UCDIT-war/dist/